@import url('./header.module.css');
@import url('./sessao-hero.module.css');
@import url('./sessao-about.module.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    min-height: 100vh;
    height: auto;
    background: linear-gradient(to bottom, #060606, #100b1b, #160f2a, #1c1039, #250e48, #2a0c4e, #2f0954, #35055a, #35055a, #35055a, #35055a, #35055a);
}